#p_info{
  line-height: 35px;
  font-size:larger;
}
.groups{
  border: 2px solid pink;
  text-align: center;
  padding: 15px;
  margin: 30px;
}
.container{
  margin: 5px;
}
ul li {
  list-style-type:none;
}